body{
    background-color:rgb(73, 57, 117);
    /*background-image: url("images/kirk2.webp");*/
    z-index: 0;
}


.rainbowText{
    background-image:linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    
    -webkit-background-clip:text;
    background-clip:text;

    -webkit-text-fill-color: transparent;
    background-clip:text;

    display:inline-block;
}

.background-effect{
    width:auto;
    height:auto;
}

.titleText{
    font-family:Impact;
    font-weight:bolder;
    display:block;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
}

#elephant-cube{
    width: 50px;
    height: 20px;
}



/* @keyframes TopBGScroll{
    
} */