body{
    background-color:rgb(73, 57, 117);
    margin:0;
    z-index: 0;
}

header{
    width:100%;
    padding:5px 0;
    background-color:rgba(0, 0, 0, 0.5);
    background-size:cover;
    z-index: 1;
    background-size:100%;
    
}

.rainbowText{
    background-image:linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    
    -webkit-background-clip:text;
    background-clip:text;

    -webkit-text-fill-color: transparent;
    background-clip:text;

    display:inline-block;
}

.background-effect{
    width:auto;
    height:auto;
}

.titleText{
    font-family:Impact;
    font-weight:bolder;
    display:block;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
}

.tabList{
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    justify-content:space-evenly;
    list-style-type:none;
}

#elephant-cube{
    width: 50px;
    height: 20px;
}



/* @keyframes TopBGScroll{
    
} */